body {
    font-family: sans-serif;

    margin-top: 75px;
}
.top{
    background-color: darkorchid;
    text-align:center;
    padding-top
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.deco
        {    max-width:800px;
             text-align: center;
             margin: 0 auto;
             background-color:white;
             font-family:sans-serif;
        }